<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="H:\MI13D\TFM\TFM-SPEC\04-SD_impl\project\Software\memory_manipulator\memory_manipulator.elf"/>
<stringAttribute key="modelSimPath" value="C:\intelFPGA_lite\18.1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="memory_manipulator.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="memory_manipulator"/>
<stringAttribute key="spdPath" value="H:\MI13D\TFM\TFM-SPEC\04-SD_impl\project\nios_sd_loader_tb.spd"/>
</launchConfiguration>
